In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("IMDB Dataset.csv")

In [3]:
df.head(5)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df.shape

(50000, 2)

In [6]:
# Checking for Null values
df.columns[df.isna().any()]

Index([], dtype='object')

In [7]:
df['sentiment'].replace({'positive':1, 'negative':0}, inplace=True)

In [8]:
df.head(5)

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

Text Cleaning

In [10]:
# Removing HTML Tags

import re
def clean_html(text):
    clean = re.compile("<.*?>")
    return re.sub(clean, '', text)

In [11]:
df['review'] = df['review'].apply(clean_html)